<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8"><title>Criar Conta</title>
    <link rel="stylesheet" href="/static/criar.css">
</head>
<body>
  <h1>Criar novo usuario</h1>
  <form method="POST" action="{{ url_for('criar_conta') }}">
    <input type="text" name="nome" placeholder="Nome" required><br><br>
    <input type="email" name="email" placeholder="Email" required><br><br>
    <input type="password" name="password" placeholder="Senha" required><br><br>
    <button type="submit">Criar</button>
  </form>
  <p><a href="{{ url_for('login') }}">Voltar ao login</a></p>
</body>
</html>
