<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>Salvar Senhas</title>
<link rel="stylesheet" href="/static/diretorio.css">
<script src="/static/diretorio.js"></script>
</head>
<body>

<h1>Gerenciador de Senhas</h1>
<h1>Diretório {{ diretorio.nome }}</h1>

<div class="modal-bg" id="modalBg">
    <div class="modal">
        <h3>Criar Box</h3>

        <form action="{{ url_for('criar_box', id=diretorio.id) }}" method="POST">

            <input id="boxName" name="boxName" placeholder="Nome da box" required>
            <input id="boxPassword" name="boxPassword" type="password" placeholder="Senha da box" required>
            <input id="savedPassword" name="savedPassword" type="password" placeholder="Senha a ser salva" required>

            <button type="submit">Salvar</button>
            <button type="button" style="background:#777" onclick="closeModal()">Cancelar</button>

        </form>
    </div>
</div>

<main>
     <button type="button" onclick="abrirPopup()">Criar Box</button>

        <!-- Pop-up principal -->
        <div class="overlay" id="overlay">
            <div class="popup">
                <form action="" method="POST">

                    <h2>Criar nova Box</h2>

                    <input type="text" id="nome" name="nome" placeholder="Nome do diretório" required>
                    

                    <button type="submit">Enviar</button>
                    <button type="button" class="btn-close" onclick="fecharPopup()">Fechar</button>

                </form>
            </div>
        </div>
</main>



</body>
</html>
