body {
    background: #f4f6f9;
    font-family: Arial;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.card {
    background: white;
    width: 420px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.12);
}

h2 {
    text-align: center;
    margin-bottom: 18px;
}

input {
    width: 100%;
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    background: #36ad57;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #288a44;
}

a {
    display: block;
    text-align: center;
    margin-top: 12px;
}
